@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap');

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-black: #200B08;
  --color-white: #F6ECEB;
  --color-highlight: #DA7668;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair);
  --font-body: var(--font-roboto); 

}

@layer components {
  .subheading {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-bold);
    font-family: --var(--font-playfair);
    color: --var(--color-white);
  }

  .text-body {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    font-family: --var(--font-body);
    color: --var(--color-white);
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), system-ui, Arial, Helvetica, sans-serif;
}
